sudo: true
language: haskell

git:
  depth: 5

cabal: "2.4"

cache:
  directories:
  - "$HOME/.cabal/store"

matrix:
  include:
    - ghc: "8.6.3"  
    - ghc: "8.4.4"
    - ghc: "8.2.2"
    - ghc: "8.0.2"
    - ghc: "7.10.3"
    - ghc: "7.8.4"
    - ghc: "7.6.3"
    - ghc: "7.4.2"
    - ghc: "7.0.4"

install:
 - cabal --version
 - ghc --version

script:
 - cabal v2-update
 - cabal v2-build

notifications:
  email: true
